In [2]:
!mkdir /root/.kaggle
!cp kaggle.json /root/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json
!ls /root/.kaggle/

kaggle.json

In [3]:
!kaggle datasets download -d henriqueyamahata/bank-marketing

Downloading bank-marketing.zip to /content
  0% 0.00/393k [00:00<?, ?B/s]
100% 393k/393k [00:00<00:00, 143MB/s]

In [4]:
!unzip bank-marketing.zip

Archive:  bank-marketing.zip
  inflating: bank-additional-full.csv
  inflating: bank-additional-names.txt

In [5]:
import pandas as pd
data = pd.read_csv("bank-additional-full.csv", sep=';')

In [6]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [7]:
y = data['y']
data = data.drop('y', axis=1)

In [8]:
y = y.astype('category')
y = y.cat.codes

Предварительная обработка данных:

In [26]:
data.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'job_0',
       'job_1', 'job_2', 'job_3', 'job_4', 'job_5', 'job_6', 'job_7', 'job_8',
       'job_9', 'job_10', 'job_11', 'marital_0', 'marital_1', 'marital_2',
       'marital_3', 'education_0', 'education_1', 'education_2', 'education_3',
       'education_4', 'education_5', 'education_6', 'education_7', 'default_0',
       'default_1', 'default_2', 'housing_0', 'housing_1', 'housing_2',
       'loan_0', 'loan_1', 'loan_2', 'contact_0', 'contact_1', 'month_0',
       'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6',
       'month_7', 'month_8', 'month_9', 'day_of_week_0', 'day_of_week_1',
       'day_of_week_2', 'day_of_week_3', 'day_of_week_4', 'poutcome_0',
       'poutcome_1', 'poutcome_2'],
      dtype='object')

In [9]:
data.columns[data.isna().any()].tolist()

[]

One-hot кодирование для необходимых признаков:

In [10]:
names = ['job',	'marital',	'education', 'default',	'housing',	'loan',	'contact',	'month',	'day_of_week', 'poutcome']
for n in names:
  data[n] = data[n].astype('category')
  data[n] = data[n].cat.codes
  data = pd.get_dummies(data, columns=[n])

Рассмотрим 2 варианта: данные после нормализации и без неё

In [11]:
data_max = data.max()
data_min = data.min()
data_norm = data
data_norm = data_norm - data_min
data_norm = data_norm.div(data_max - data_min)
data_norm.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_8,month_9,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,poutcome_0,poutcome_1,poutcome_2
count,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,...,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,0.284248,0.052518,0.028502,0.963439,0.024709,0.725393,0.535723,0.430854,0.677237,0.769134,...,0.017432,0.013839,0.190031,0.206711,0.209357,0.196416,0.197485,0.103234,0.863431,0.033335
std,0.128657,0.052720,0.050364,0.187098,0.070700,0.327283,0.225581,0.193648,0.393210,0.273163,...,0.130877,0.116824,0.392330,0.404951,0.406855,0.397292,0.398106,0.304268,0.343396,0.179512
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.185185,0.020740,0.000000,1.000000,0.000000,0.333333,0.340608,0.338912,0.160961,0.512287,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,0.259259,0.036600,0.018182,1.000000,0.000000,0.937500,0.603274,0.376569,0.957379,0.859735,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,0.370370,0.064864,0.036364,1.000000,0.000000,1.000000,0.698753,0.602510,0.980957,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
from sklearn.model_selection import train_test_split
data_train, data_test, y_train, y_test = train_test_split(data, y, test_size=0.3)
data_train_norm, data_test_norm, y_train_norm, y_test_norm = train_test_split(data_norm, y, test_size=0.3)

In [13]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss

Обучение на данных без нормализации:

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(data_train, y_train)
predicted = model.predict(data_test)   # для вычисления accuracy
predicted_probs = model.predict_proba(data_test)[:, 1]   # для вычисления log_loss

In [29]:
acc = accuracy_score(predicted, y_test)  # вычисление accuracy: на вход подаётся результат функции predict
loss = log_loss(y_test, predicted) # вычисление log_loss: на вход подаётся результат функции predict_proba

print("accuracy на тестовых данных: ", acc)
print("log_loss на тестовых данных: ", loss)

accuracy на тестовых данных:  0.9083920045318443
log_loss на тестовых данных:  3.301886836326019

Обучение на нормализованных данных:

In [ ]:
model = LogisticRegression()
model.fit(data_train_norm, y_train_norm)
predicted = model.predict(data_test_norm)   # для вычисления accuracy
predicted_probs = model.predict_proba(data_test_norm)[:, 1]   # для вычисления log_loss

In [31]:
acc = accuracy_score(predicted, y_test_norm)  # вычисление accuracy: на вход подаётся результат функции predict
loss = log_loss(y_test_norm, predicted) # вычисление log_loss: на вход подаётся результат функции predict_proba

print("accuracy на тестовых данных: ", acc)
print("log_loss на тестовых данных: ", loss)

accuracy на тестовых данных:  0.9121145909201263
log_loss на тестовых данных:  3.1677112228357394

Вычислим порог обзвона (вероятность успеха операции для конкретного клиента) и удельную прибыль компании за одного клиента из базы данных при наилучшем пороге обзвона, если каждый звонок стоит 10 руб., а успешный звонок приносит компании 100 руб:

In [ ]:
model = LogisticRegression()
model.fit(data_train, y_train)

predicted = model.predict(data_train)   # для вычисления accuracy
predicted_probs = model.predict_proba(data_train)[:, 1]   # для вычисления log_loss

In [19]:
res = []
arrp = []
for t in range(0, 100):
  p = t / 100
  arrp += [p]
  waste = sum(predicted_probs >= p) * 10
  profit = 0
  for i in range(len(predicted_probs)):
    profit += int(predicted_probs[i] >= p and y_train.iloc[i] == 1) * 100
  res += [profit - waste]

In [20]:
res.index(max(res)), arrp[res.index(max(res))]

(8, 0.08)

In [21]:
res[7], res[7]/len(predicted_probs)

(214170, 7.428462418924075)

In [22]:
predicted = model.predict(data_test)   # для вычисления accuracy
predicted_probs = model.predict_proba(data_test)[:, 1]   # для вычисления log_loss

In [23]:
p = 0.07
waste = sum(predicted_probs >= p) * 10
profit = 0
for i in range(len(predicted_probs)):
  profit += int(predicted_probs[i] >= p and y_test.iloc[i] == 1) * 100
print(profit - waste, (profit - waste)/len(predicted_probs))

86680 7.014647568179979